<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

</body>
</html>
<script>
  window.onload = function(){

    var condition = [
      {
        feild: 'status',
        value: 'enable',
        joinType: 'eq'
      }
    ];
    var dishes = {
      name:'zhangsan',
      specs: [
        {
          id:654,
          name:'分量'
        }
      ],
      skus:[
        {
          attrJoin:'654_123',
          normalPrice:45.23
        }
      ]
    }
    axios.defaults.baseURL = 'http://192.168.2.189';
    // axios.defaults.headers.post['Content-Type'] = 'application/json';
    axios.post("/dishes/add",  dishes,{
      header : {
        'contentType':'application/json'
      }
    }).then( res => {
      console.log(res.data)
    }).catch(err => {
      console.log(err)
    })
  }

</script>
