body {
  text-align: center;
  font-family: 'Microsoft YaHei','Lantinghei SC','Open Sans',Arial,'Hiragino Sans GB','STHeiti','WenQuanYi Micro Hei','SimSun',sans-serif;
}

.favorite {
  position: relative;
  transform: scale(1);
  display: inline-block;
  transform-origin: 50% 0%;
}

.favorite__inactive {
  transform-origin: 50% 50%;
}

.favorite__active {
  transform-origin: 50% 50%;
  transform: scale(0);
  opacity: 1;
}

.favorite__halo-outer {
  transform-origin: 50% 50%;
  transform: scale(0);
}

.favorite__sprinkle {
  position: absolute;
  top: 50px;
  left: 52px;
  transform: rotate(36deg);
}

.favorite__sprinkle:nth-child(2) {
  transform: rotate(108deg);
}

.favorite__sprinkle:nth-child(3) {
  transform: rotate(180deg);
}

.favorite__sprinkle:nth-child(4) {
  transform: rotate(252deg);
}

.favorite__sprinkle:nth-child(5) {
  transform: rotate(324deg);
}

.favorite__sprinkle-circle {
  position: absolute;
  content: '';
  background: #F98247;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin-top: -28px;
}
